@font-face{
    font-family: 'Montserrat', sans-serif;}

@font-face{
    font-family: 'Syne', sans-serif;}



body {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    color:white;
    background-color: #0404c9;
    text-align: center;
}

.header{
    font-family: 'Syne', sans-serif;
    margin:2rem;
    font-size: 4rem;
    padding-top: 2rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin:0;
    
    
}

img{
    border-radius: 50%;
    
}


  .song-container{
      width: 15rem;
      height: 15rem;
      margin: 1rem;
      /* border: 3px solid white; */
      border-radius: 50%;
      display: inline-block;
      /* margin-left: 40%; */
      /* display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr; */
  }



  




  
  .song-cover {
    width: 15rem;
    height: auto;
    display: block;
    position: relative;
    top: 7rem;
    border: none;
    

  }

 

   .song-cover.inactive{
    width: 15rem;
    height: auto;
    display: none;

  } 



  .circle-container{
      margin:-12px;
  }
    


  .song-artist{
    display: none;
}
.song-artist.active{
    display: block;
  
}

.song-title{
    display: none;
}
.song-title.active{
    display: block;
}

  /* .song-rating{
      display: none;
  }
  .song-rating.active{
      display: block;
  } */

  .song-album{
      display: none;
  }
  .song-album.active{
    display: block;
}

.filter{
    padding: 2rem;
    display: flex;

}

span{
    font-weight: 600;
    margin: auto;
    margin-left: 1rem;
    padding: .5rem;
    justify-content: center;
    flex-direction: row;
    
}


